<!DOCTYPE html>
{% extends "base_main_page.html" %}
{% block title %}Створення Уроку{% endblock %}
{% block content %}
<section>
    <form action="{% url 'all_lessons_teacher' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Створити</button>
    </form>
    {% for lesson in all_teachers_lessons %}
        <h2>Уроки:</h2>
        <div>
            <a href="{% url 'one_lesson_teacher' lesson.id %}">{{ lesson.lesson_name }}, {{ lesson.lesson_date }}</a>
        </div>
    {% endfor %}
</section>
<section>
    <form action="/teachers/lessons/{{ lesson.id }}/absence" method="POST">
        {% csrf_token %}
        {% for one_student in all_student %}
            <input type="checkbox" name="absence" id="student--{{ one_student.id }}" value="{{ one_student.id }}">
            <label for="student--{{ one_student.id }}">{{ one_student.id }}</label>
        {% endfor %}
    </form>
</section>
{% endblock %}