{% extends "base_main_page.html" %}

{% block title %}Урок: {{ lesson.lesson_name }}{% endblock %}

{% block content %}
<div class="card">
    <h2>Деталі уроку</h2>
    {% if lesson %}
        <div style="margin-bottom: 20px;">
            <p><strong>Назва:</strong> {{ lesson.lesson_name }}</p>
            <p><strong>Дата:</strong> {{ lesson.lesson_date }}</p>
            <p><strong>Предмет:</strong> {{ lesson.subject.subject_name }}</p>
            <p><strong>Клас:</strong> {{ lesson.school_class.start_year.year }} - {{ lesson.school_class.letter }}</p>
            <p><strong>Опис:</strong> {{ lesson.description }}</p>
            <p><strong>Домашнє завдання:</strong> {{ lesson.homework }}</p>
        </div>
    {% else %}
        <p>Урок не знайдено.</p>
    {% endif %}

    <div style="margin-top: 20px;">
        <a href="{% url 'all_lessons_teacher' %}" class="button" style="background-color: #757575; color: white; padding: 10px 20px; text-decoration: none; border-radius: 4px;">Назад до списку</a>
    </div>
</div>

{% if all_students %}
<div class="card"><br><br>
    <h3>Відвідування</h3>
    <form action="{% url 'check_student_absence' lesson.id %}" method="POST">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>Студент</th>
                    <th>Відсутній</th>
                </tr>
            </thead>
            <tbody>
                {% for student in all_students %}
                <tr>
                    <td>{{ student.first_name }} {{ student.last_name }}</td>
                    <td>
                        <input type="checkbox" name="absence_student_ids" value="{{ student.id }}" id="absence_{{ student.id }}" {{ student.is_absent }}>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="margin-top: 20px; text-align: left">
            <button type="submit">Зберегти відвідування</button>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}
