<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<section>
    <div>
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <label>Імя:</label>
            <input type="text" name="first_name"><br>
            <label>Прізвище:</label>
            <input type="text" name="last_name"><br>
            <label>Логін:</label>
            <input type="text" name="username"><br>
            <label>Email:</label>
            <input type="email" name="email"><br>
            <label>Пароль:</label>
            <input type="password" name="password"><br>
            <button>Зареєструватись</button>
        </form>
    </div>
</section>
</body>
</html>