<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<section>
    <div>
        {% if messages %}
            {% for message in messages %}
                <p>{{   message }}</p>
            {% endfor %}
        {% endif %}
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Зареєструватись</button>
        </form>
    </div>
</section>
</body>
</html>